<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{ titulo }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ng-container *ngIf="infoGrupo.grupo">
        <ion-card>
            <ion-card-header> Descrição </ion-card-header>
            <ion-card-content> {{ descricao }} </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header> Código do grupo </ion-card-header>
            <ion-card-content> {{ chave }} </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>Membros</ion-card-header>
            <ion-card-content>
                <ion-list>
                    <button
                        ion-item
                        *ngFor="let usu of membrosList"
                        (click)="conversaParticular(usu)"
                    >
                        {{ usu.displayName }}
                    </button>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </ng-container>

    <ion-card>
        <ion-card-content>
            <button
                ion-button
                round
                outline
                color="danger"
                class="width-100"
                icon-start
                (click)="sair()"
            >
                {{ infoGrupo.grupo ? 'Deixar grupo' : 'Apagar conversa' }}
            </button>
        </ion-card-content>
    </ion-card>
</ion-content>
