<ion-header>
    <ion-navbar color="primary">
        <ion-title> ChatProf </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="logout()">
                <ion-icon name="exit"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ng-container *ngFor="let item of listaGrupos">
            <button ion-item (click)="openTalk(item)" *ngIf="item.grupo">
                {{ item.nome }}
            </button>
            <button ion-item (click)="openTalk(item)" *ngIf="!item.grupo">
                {{ getNomeConversa(item) }}
            </button>
        </ng-container>
    </ion-list>
    <ion-fab right bottom>
        <button ion-fab color="secondary">
            <ion-icon name="chatboxes"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab color="light" (click)="createGroup()">
                <ion-icon name="add"></ion-icon>
            </button>
            <button ion-fab color="light" (click)="enterTalk()">
                <ion-icon name="people"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
