<ion-header>
    <ion-navbar color="primary">
        <ion-title (click)="openTalkDetail()">{{ title }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-lines>
        <ion-item
            *ngFor="let item of talkList"
            text-end
            class="msg-row"
            [ngClass]="{
                'msg-row-user': sentByLogged(item),
                'msg-row-other': !sentByLogged(item)
            }"
        >
            <ion-label
                class="msg-label"
                [ngClass]="{
                    'msg-label-user': sentByLogged(item),
                    'msg-label-other': !sentByLogged(item)
                }"
            >
                <p class="msg-autor">{{ item.autor }}</p>
                <ng-container *ngIf="!item.upload">
                    {{ item.texto }}
                </ng-container>
                <ng-container *ngIf="item.upload">
                    <div class="upload-desc-file" (click)="downloadFile(item)">
                        {{ item.texto }}
                    </div>
                </ng-container>
                <p class="msg-info">{{ showData(item.formatData) }}</p>
            </ion-label>
        </ion-item>
        <ion-item text-center *ngIf="talkList.length === 0">
            Não há mensagem
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-input
            placeholder="Digite aqui..."
            type="text"
            [(ngModel)]="mensagem"
        ></ion-input>
        <ion-input
            type="file"
            class="file-input"
            #upload
            (change)="changeUploadFile($event)"
        ></ion-input>
        <ion-buttons end>
            <button ion-button icon-only (click)="uploadFile()">
                <ion-icon name="cloud-upload"></ion-icon>
            </button>
            <button ion-button icon-only (click)="sendMsg()">
                <ion-icon name="send"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
